.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
}
.string-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
}
.string-wrapper .key-value-spacer {
  min-width: 20px;
}
.string-wrapper .btns-wrapper {
  min-width: 120px;
  min-height: 10px;
}

div.map-wrapper > ol.map-list {
  list-style-type: none;
}

div.collection-wrapper > ul.collection-list {
  list-style-type: none;
}