.j-tree-editor ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.j-tree-editor ul > li {
  
}

.j-tree-editor div.list-wrapper {
  
}

.j-tree-editor div.list-wrapper > ul.list {
  
}

.j-tree-editor ul.list > li.row {
  margin-left: 10px;
  
}
.j-tree-editor li.row ul.list > li.row {
  margin-left: 20px;
}

.j-tree-editor ul.list > li.row > div.header {
  margin-left: -10px;
}
.j-tree-editor li.row ul.list > li.row > div.header {
  margin-left: -20px;
}

.j-tree-editor ul.list div.header .list-toggle-icon {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  font-size: 16px;
  top: 1px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: @passiveToggle;
}

.j-tree-editor ul.list div.header .list-toggle-icon:hover {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  font-size: 16px;
  top: 1px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  color: @activeToggle;
}

.j-tree-editor ul.list div.header .list-toggle-icon.open {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  color: @activeToggle;
}

/* ---- Display Item ---- */
.j-tree-editor ul.list > li.row > div.item {
  transition: background-color @easeSpeed ease;
  padding: 0px 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  padding: 2px 10px;
}

.j-tree-editor ul.list > li.row > div.item.item-edit,
.j-tree-editor ul.list > li.row > div.item:hover {
  background-color: @hoverItemBack;
  position: relative; 
}

.j-tree-editor li.row > div.item > div.item-data {
  
}

.j-tree-editor li.row > div.item > div.item-key {
  font-weight: bold;
  min-width: 15px;
}

.j-tree-editor li.row > div.item > div.item-value {
  margin-left: 10px;
  min-width: 50px;
}

/* ---- Edit Item / Inputs / Label ---- */
/* Select Box */
.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit {
	box-sizing: border-box;
  border-radius: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  height: 27px;
  padding: 3px;
  cursor: pointer;
}

.j-tree-editor li.row > div.item-edit .select-wrapper {
  
}

.j-tree-editor li.row > div.item-edit .select-wrapper > i.select-icon {
  position: absolute;
  right: 7px;
  top: 23px;
  font-size: 12px;
  pointer-events: none;
  color: @inColor;
}

.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit,
.j-tree-editor li.row > div.item.item-edit > div > .item-edit {
  background-color: @inBackground;
  display: inline-block;
  min-width: 130px;
  max-width: 100%;
  max-height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: @inFontSize;
  border: @inBorder;
  color: @inColor;
}
.j-tree-editor li.row > div.item .item-data-wrapper {
  position: relative;
  margin-top: 5px;
}

.j-tree-editor li.row > div.item.item-edit > div > label {
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0;
  opacity: 1;
  color: @inColor;
}

.j-tree-editor li.row > div.item.item-edit > div > label.item-key-label {
  /* position: absolute;
  top: 5px;
  left: 10px; */
}
.j-tree-editor li.row > div.item.item-edit > div > label.item-value-label {
  
}

.j-tree-editor li.row > div.item.item-edit > div.item-key-wrapper {
  margin-right: 20px;
}

/* ---- Action Button ---- */
.j-tree-editor div.item > div.item-btns {
  margin-left: 30px;
  opacity: 0;
  transition: opacity @easeSpeed ease;
}

.j-tree-editor div.item.item-edit > div.item-btns,
.j-tree-editor div.item:hover > div.item-btns {
  opacity: 1;
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper > div.btns-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px 2px;
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper div.type-label {
  font-size: @typeLabelSize;
  color: @typeLabelColor;
  position: relative;
  top: -3px;
  margin-right: 10px;
}


/* ---- Action Icons ---- */
.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper {
  margin: 0 5px;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > .icon {
  text-align: center;
  text-decoration: none;
  transition: color @easeSpeed ease;
  font-size: 10px;
  color: @passiveBtn;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-edit:hover {
  color: @activeEdit;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-drag:hover {
  color: @activeDrag;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-delete:hover {
  color: @activeDelete;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-save:hover {
  color: @activeSave;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-cancel:hover {
  color: @activeCancel;
}


.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon > .icon-text {
  margin-top: 3px;
  font-family: @raleway;
  display: block;
}