.j-tree-editor ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.j-tree-editor div.list-wrapper {
  transition: max-height @listToggleSpeed ease-in-out;
  overflow: hidden;
}

.j-tree-editor div.list-wrapper > ul.list {
  transition: max-height @listToggleSpeed ease-in-out;
  overflow: hidden;
}

.j-tree-editor ul.list > li.row {
  margin-left: @rowIndent;
}
.j-tree-editor li.row ul.list > li.row {
  margin-left: @subRowIndent;
  color: @itemColor;
}

.j-tree-editor ul.list > li.row > div.header {
  margin-left: @rowHeaderIndent;
}
.j-tree-editor li.row ul.list > li.row > div.header {
  margin-left: @subHeaderRowIndent;
  /* color: @passiveToggle; */
  transition: all @toggleIconSpeed ease-in-out;
}

.j-tree-editor ul.list > li.row > div.item.open:hover,
.j-tree-editor ul.list > li.row > div.header.open {
  background-color: @hoverItemBack;
  border-bottom: @headerOpenBorder;
}

.j-tree-editor ul.list div.header .toggle-icon {
  text-decoration: none;
  position: relative;
  margin-right: @toggleSpacer;
  font-size: @toggleSize;
  top: 1px;
  transition: all @toggleIconSpeed ease-in-out;
  color: @passiveToggle;
  cursor: pointer;
}

.j-tree-editor ul.list > li.row > div.header:hover .toggle-icon {
  text-decoration: none;
  position: relative;
  top: 1px;
  color: @activeToggle;
}

.j-tree-editor ul.list > li.row > div.header:hover .toggle-icon.open,
.j-tree-editor ul.list > li.row > div.header .toggle-icon.open {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  color: @headerOpenToggle;
}

.j-tree-editor ul.list > li.row > div.item.header.item-edit:hover .toggle-icon,
.j-tree-editor ul.list > li.row > div.item.header.item-edit .toggle-icon {
  color: @editToggle;
}

/* ---- Display Item ---- */
.j-tree-editor ul.list > li.row > div.item {
  transition: background-color @easeSpeed ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 10px 0px;
  margin-bottom: 4px;
  border-bottom: @itemBorder;
  transition: all @toggleIconSpeed ease-in-out;
}

.j-tree-editor ul.list > li.row > div.item.root {
  min-height: 36px;
}

.j-tree-editor ul.list > li.row > div.item.item-edit.item-empty {
  border-bottom: @itemEmptyBorder;
}


.j-tree-editor ul.list > li.row > div.item:hover {
  background-color: @hoverItemBack;
  position: relative; 
  border-bottom: @itemHoverBorder;
}

.j-tree-editor ul.list > li.row > div.item.header.item-edit,
.j-tree-editor ul.list > li.row > div.item.item-edit {
  border-bottom: @itemEditBorder;
  background-color: @activeItemBack;
}

.j-tree-editor li.row > div.item > div.item-key {
  font-family: @itemKeyFont;
  font-weight: @itemKeyFontWeight;
  min-width: 15px;
}

.j-tree-editor li.row > div.item.header > div.item-data {
  cursor: pointer;
}

.j-tree-editor li.row > div.item > div.item-value {
  font-family: @itemValFont;
  font-weight: @itemValFontWeight;
  margin-left: 10px;
  min-width: 50px;
}

/* ---- Edit Item / Inputs / Label ---- */
/* Select Box */
.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit {
	box-sizing: border-box;
  border-radius: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  height: 27px;
  padding: 3px;
  cursor: pointer;
}

.j-tree-editor li.row > div.item-edit .select-wrapper {
  
}

.j-tree-editor li.row > div.item-edit .select-wrapper > i.select-icon {
  position: absolute;
  right: 7px;
  top: 23px;
  font-size: 12px;
  pointer-events: none;
  color: @inColor;
}

.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit,
.j-tree-editor li.row > div.item.item-edit > div > .item-edit {
  background-color: @inBackground;
  display: inline-block;
  min-width: 130px;
  max-width: 100%;
  max-height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: @inFontSize;
  border: @inBorder;
  color: @inColor;
}
.j-tree-editor li.row > div.item .item-data-wrapper {
  position: relative;
}
.j-tree-editor li.row > div.item .item-data-wrapper.item-empty-wrapper {
  top: -2px;
  margin-right: 15px;
}

.j-tree-editor li.row > div.item .item-data-wrapper.item-type-wrapper {
  margin-top: 0px;
  margin-right: 20px;
}

.j-tree-editor li.row > div.item.item-edit label.item-label {
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0;
  opacity: 1;
  color: @inColor;
}

.j-tree-editor li.row > div.item.item-edit > div > label.item-key-label {
  /* position: absolute;
  top: 5px;
  left: 10px; */
}
.j-tree-editor li.row > div.item.item-edit > div > label.item-value-label {
  
}

.j-tree-editor li.row > div.item.item-edit > div.item-key-wrapper {
  margin-right: 20px;
}

.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit:disabled, .j-tree-editor li.row > div.item.item-edit > div > .item-edit:disabled {
  background-color: @disabledInput;
  cursor: not-allowed;
}

/* ---- Action Button ---- */
.j-tree-editor div.item > div.item-btns {
  margin-left: 20px;
  opacity: 0;
  transition: opacity @actionBtnSpeed ease;
}

.j-tree-editor div.item.item-edit > div.item-btns,
.j-tree-editor div.item:hover > div.item-btns {
  opacity: 1;
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper > div.btns-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px 2px;
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper div.type-label {
  font-size: @typeLabelSize;
  color: @typeLabelColor;
  position: relative;
  top: -3px;
  margin-right: 10px;
}


/* ---- Action Icons ---- */
.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper {
  margin: 0 5px;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > .icon {
  text-align: center;
  text-decoration: none;
  transition: color @actionBtnSpeed ease;
  font-size: 10px;
  color: @passiveBtn;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-edit:hover {
  color: @activeEdit;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-drag:hover {
  color: @activeDrag;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-add:hover {
  color: @activeAdd;
}


.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-delete:hover {
  color: @activeDelete;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-save:hover {
  color: @activeSave;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-cancel:hover {
  color: @activeCancel;
}


.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon > .icon-text {
  margin-top: 3px;
  font-family: @actionBtnFont;
  display: block;
}