.j-tree-editor ul {
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.j-tree-editor ul > li {
  padding: 0px;
  margin: 0px;
}



/* --- General Item Styles --- */
.j-tree-editor .item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.j-tree-editor ul > li > div.item-wrapper {
  transition: background-color @easeSpeed ease;
  background-color: @passiveItemBack;
  padding: 2px 20px;
}

.j-tree-editor ul > li > div.item-wrapper:hover {
  background-color: @hoverItemBack;
}

/* --- String Styles --- */
.j-tree-editor .string-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
}

.j-tree-editor .string-wrapper  span.string-value {
  margin-left: 30px;
}

.j-tree-editor .string-wrapper .btns-wrapper {

}

.j-tree-editor li > div.string-wrapper > div > div.edit-btns-wrapper {
  opacity: 0;
  transition: opacity @easeSpeed ease;
}

.j-tree-editor li:hover > div.string-wrapper > div > div.edit-btns-wrapper {
  opacity: 1;
}

/* --- Number Styles --- */
.j-tree-editor div.number-wrapper {
  
}

/* --- Map Styles --- */
.j-tree-editor div.map-wrapper {
  background-color: @passiveGroupBack;
}

.j-tree-editor div.map-wrapper > ul.map-list {

}

/* --- Collection Styles --- */
.j-tree-editor div.collection-wrapper {
  background-color: @passiveGroupBack;
}

.j-tree-editor div.collection-wrapper > ul.collection-list {

}

/* --- Edit Button Styles --- */
.j-tree-editor div.edit-btns-wrapper {
  position: relative;
  margin-left: 30px;
}

.j-tree-editor div.edit-btns-wrapper div.edit-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px 2px;
}

.j-tree-editor div.edit-btns-wrapper  div.type-label {
  font-size: @labelSize;
  color: @label;
  position: relative;
  top: -3px;
  margin-right: 10px;
}


/* --- Edit Button Icon Styles --- */
.j-tree-editor span.icon-wrapper {
  margin: 0 5px;
}

.j-tree-editor span.icon-wrapper > a {
  text-align: center;
  text-decoration: none;
  transition: color @easeSpeed ease;
  font-size: 10px;
  color: @passiveBtn;
}

.j-tree-editor span.icon-wrapper > a > .icon-text {
  margin-top: 3px;
  font-family: @raleway;
  display: block;
}

.j-tree-editor span.icon-wrapper > a.icon-edit:hover {
  color: @activeEdit;
}

.j-tree-editor span.icon-wrapper > a.icon-drag:hover {
  color: @activeDrag;
}

.j-tree-editor span.icon-wrapper > a.icon-delete:hover {
  color: @activeDelete;
}