
.j-tree-editor {
  font-family: @fontThird;
  font-size: @size14;
  width: 100%;
}

.j-tree-editor ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.j-tree-editor div.list-wrapper {
  transition: max-height @speed05 ease-in-out;
  overflow: hidden;
  /* border: 1px solid #aaa; */
}

.j-tree-editor div.list-wrapper > ul.list {
  transition: max-height @speed05 ease-in-out;
  overflow: hidden;
}


/* ---- Row ---- */
.j-tree-editor ul.list > li.row {
  margin-left: @size20;
  width: calc( 100% - @size20 );
}
.j-tree-editor li.row ul.list > li.row {
  margin-left: @size20;
  width: calc( 100% - @size20 );
  color: @gray8;
}

/* ---- Empty Eow ---- */
.j-tree-editor ul.list > li.row.list-empty,
.j-tree-editor li.row ul.list > li.row.list-empty {
  width: 100%;
  text-align: center;
  margin-left: 0px;
  color: @gray3;
}

.j-tree-editor ul.list > li.row.list-empty .list-empty-text {
  margin: 8px 5px 8px;
  display: inline-block;
  padding: 0px 10%;
  font-size: 12px;
}

.j-tree-editor ul.list > li.row.list-empty .list-empty-text .list-empty-icon {
  margin-right: 5px;
}

.j-tree-editor ul.list > li.row > div.header {
  margin-left: @size20Neg;
}
.j-tree-editor li.row ul.list > li.row > div.header {
  margin-left: @size20Neg;
  transition: all @speed05 ease-in-out;
}

.j-tree-editor ul.list > li.row > div.item.open:hover,
.j-tree-editor ul.list > li.row > div.header.open {
  background-color: @itemOpenBackColor;
  border-bottom: @headerOpenBorder;
}

.j-tree-editor ul.list div.header .toggle-icon {
  text-decoration: none;
  position: relative;
  margin-right: @size10;
  font-size: @size16;
  top: 1px;
  transition: all @speed05 ease-in-out;
  color: @gray7;
  cursor: pointer;
}

.j-tree-editor ul.list > li.row > div.header:hover .toggle-icon {
  text-decoration: none;
  position: relative;
  top: 1px;
  color: @toggleHoverColor;
}

.j-tree-editor ul.list > li.row > div.header:hover .toggle-icon.open,
.j-tree-editor ul.list > li.row > div.header .toggle-icon.open {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  color: @toggleOpenColor;
}

.j-tree-editor ul.list > li.row > div.item.header.item-edit:hover .toggle-icon,
.j-tree-editor ul.list > li.row > div.item.header.item-edit .toggle-icon {
  color: @toggleEditColor;
}



/* ---- Display Item ---- */
.j-tree-editor ul.list > li.row > div.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 8px;
  margin-bottom: 4px;
  border-bottom: @itemBorder;
  transition: all @speed05 ease-in-out;
}

.j-tree-editor ul.list > li.row > div.item.item-error {
  border-bottom: @itemErrorBorder;
}

.j-tree-editor li.row > div.item.item-error .item-error-message {
  width: 100%;
  font-size: 12px;
  color: @itemErrorTextColor;
  text-align: right;
  max-height: 0px;
  position: relative;
}

.j-tree-editor li.row > div.item.item-error .item-error-message .item-error-text {
  position: relative;
  bottom: 5px;
}


.j-tree-editor ul.list > li.row > div.item.root {
  /* min-height: 36px; */
}

.j-tree-editor ul.list > li.row > div.item.item-edit.item-empty {
  border-bottom: @itemEmptyBorder;
}


.j-tree-editor ul.list > li.row > div.item:hover {
  background-color: @itemHoverBackColor;
  position: relative; 
  border-bottom: @itemHoverBorder;
}

.j-tree-editor ul.list > li.row > div.item.header.item-edit,
.j-tree-editor ul.list > li.row > div.item.item-edit {
  border-bottom: @itemEditBorder;
  background-color: @itemActiveBackColor;
}

.j-tree-editor li.row > div.item > div.item-key {
  font-family: @fontThird;
  font-weight: @fontBold;
  min-width: 15px;
}

.j-tree-editor li.row > div.item.header > div.item-data {
  cursor: pointer;
}

.j-tree-editor li.row > div.item > div.item-value {
  font-family: @fontThird;
  font-weight: @fontNormal;
  margin-left: 10px;
  min-width: 50px;
}

/* ---- Edit Item / Inputs / Label ---- */
/* Select Box */
.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit {
	box-sizing: border-box;
  border-radius: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  height: 27px;
  padding: 3px;
  cursor: pointer;
}

.j-tree-editor li.row > div.item-edit .select-wrapper {
  
}

.j-tree-editor li.row > div.item-edit .select-wrapper > i.select-icon {
  position: absolute;
  right: 7px;
  top: 23px;
  font-size: 12px;
  pointer-events: none;
  color: @gray8;
}

.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit,
.j-tree-editor li.row > div.item.item-edit > div > .item-edit {
  background-color: @itemEditBackColor;
  display: inline-block;
  min-width: 130px;
  max-width: 100%;
  max-height: @size30;
  margin-top: @size16;
  margin-bottom: @size10;
  padding: @size5;
  font-size: @size12;
  border: @inputEditBorder;
  color: @gray8;
}

.j-tree-editor li.row > div.item.item-edit > div > .item-edit:focus {
  border-bottom: @inputFocusBorderBottom;
}

.j-tree-editor li.row > div.item.item-edit > div > .item-edit.item-error {
  border-bottom: @inputErrorBorder;
}


.j-tree-editor li.row > div.item .item-data-wrapper {
  position: relative;
}
.j-tree-editor li.row > div.item .item-data-wrapper.item-empty-wrapper {
  top: -2px;
  margin-right: 15px;
}

.j-tree-editor li.row > div.item .item-data-wrapper.item-type-wrapper {
  margin-top: 0px;
  margin-right: 20px;
}

.j-tree-editor li.row > div.item.item-edit label.item-label {
  font-weight: @fontBold;
  font-size: @size10;
  position: absolute;
  top: 0;
  opacity: 1;
  color: @gray8;
}

.j-tree-editor li.row > div.item.item-edit > div > label.item-key-label {
  /* position: absolute;
  top: 5px;
  left: 10px; */
}
.j-tree-editor li.row > div.item.item-edit > div > label.item-value-label {
  
}

.j-tree-editor li.row > div.item.item-edit > div.item-key-wrapper {
  margin-right: @size20;
}

.j-tree-editor li.row > div.item-edit .select-wrapper select.item-edit:disabled, .j-tree-editor li.row > div.item.item-edit > div > .item-edit:disabled {
  background-color: @inputDisabledBackColor;
  cursor: not-allowed;
  opacity: @inputDisabledOpacity;
  color: @inputDisabledColor;
}

/* ---- Action Button ---- */
.j-tree-editor div.item > div.item-btns {
  margin-left: @size20;
  opacity: @passiveBtnOpacity;
  transition: opacity @speed05 ease;
  position: relative;
  top: 2px;
}

.j-tree-editor div.item.open > div.item-btns,
.j-tree-editor div.item.item-edit > div.item-btns,
.j-tree-editor div.item:hover > div.item-btns {
  opacity: @activeBtnOpacity;
  /* top: 0px; */
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper > div.btns-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative;
  top: 2px; */
}

.j-tree-editor div.item > div.item-btns > div.btns-wrapper div.type-label {
  font-size: @size10;
  color: @typeLabelColor;
  position: relative;
  top: -3px;
  margin-right: @size10;
}

/* ---- Action Icons ---- */
.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper {
  margin: 0 @size5;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > .icon {
  text-align: center;
  text-decoration: none;
  transition: color @speed05 ease;
  font-size: @size10;
  color: @passiveBtnColor;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-edit:hover {
  color: @activeEditColor;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-drag:hover {
  color: @activeDragColor;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-add:hover {
  color: @activeAddColor;
}


.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-delete:hover {
  color: @activeDeleteColor;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-save:hover {
  color: @activeSaveColor;
}

.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon-cancel:hover {
  color: @activeCancelColor;
}


.j-tree-editor div.btns-wrapper > div.btns-list > .icon-wrapper > a.icon > .icon-text {
  margin-top: 3px;
  font-family: @fontPrimary;
  display: block;
}