/* jTree Css Reset */
/* http://meyerweb.com/eric/tools/css/reset/  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a:not(.fa, .far, .fas), abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i:not(.fa, .far, .fas), center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, ul > li, ol > li {
  margin: 0px;
  padding: 0px;
}

*,
*:focus {
  outline: none;
}

html, body {
  color: #3D3D3E;
}

html, html *, *:focus {
  outline: none;
}

.git-hub-fork {
  position: fixed;
  top: 31px;
  right: 0px;
}

nav.tipdig-nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #242a35;
  z-index: 100;
}

nav.tipdig-nav > ul {
  width: 100%;
  list-style-type: none;
  padding: 4px 0px 6px;
  margin: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
nav.tipdig-nav > ul > li.tipdig-link-wrapper:first-of-type {
  border-left: none;
}
nav.tipdig-nav > ul > li.tipdig-link-wrapper {
  margin: 0px;
  padding: 0px 15px;
  border-left: 1px solid #FFFFFF;
}
nav.tipdig-nav > ul > li.tipdig-link-wrapper a.tipdig-link {
  text-decoration: none;
  transition: color 0.5s ease;
  color: #FFFFFF;
}

nav.tipdig-nav > ul > li.tipdig-link-wrapper a.tipdig-link:hover {
  color: #03a9f4;
}


.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  position: relative;
}
.container-wrapper > .container {
  width: 80vw;
  max-width: 720px;
  margin: auto;
}

.container-wrapper.header {
  margin-bottom: 30px;
}

.container-wrapper.header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
}
.container-wrapper.header > .container {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.container-wrapper.header > .container > h2 {
  text-align: center;
  border: none;
  margin: 0px;
  color: #FFF;
  margin-bottom: 8px;
}

.container-wrapper.header > .container .fas.fa-tree {
  position: relative;
  font-size: 26px;
  padding: 0px 2px;
  transform: scale(2.2,1.8);
  top: 2px;
  left: -17px;
  color: #121212;
  z-index: -1;
}

.container-wrapper.header > .container > p.sub-header {
    font-size: 12px;
    font-weight: bold;
}

.container-wrapper.header > .container > p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
}



.container-wrapper > .container > h2 {
  margin: 0px;
  padding: 0px;
}

.container-wrapper > .container > h4 {
  margin: 0px;
  text-align: left;
  width: 100%;
}

.container-wrapper > .container > h4 > span {
  font-size: 12px;
}

h4 {
  font-family: "Raleway", sans-serif;
}


/* Editor Controls */
.container-wrapper ul.controls {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: right;
}

.container-wrapper ul.controls li {
  display: inline-block;
}

.container-wrapper ul.controls li button {
  transition: border-bottom 0.5s ease;
  cursor: pointer;
  height: 30px;
  min-width: 70px;
  background-color: #F5F5FA;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #3D3D3E;
}
.container-wrapper ul.controls li button * {
  transition: all 0.5s ease;
}

.container-wrapper ul.controls li button.save:hover {
  border-bottom: 2px solid #4CAF50;
}
.container-wrapper ul.controls li button.save:hover * {
  color: #4CAF50;
}

.container-wrapper ul.controls li button.reset:hover {
  border-bottom: 2px solid #03A9F4;
}
.container-wrapper ul.controls li button.reset:hover * {
  color: #03A9F4;
}

.container-wrapper ul.controls li button.clear:hover {
  border-bottom: 2px solid #0FCED1;
}
.container-wrapper ul.controls li button.clear:hover * {
  color: #0FCED1;
}


.container-wrapper ul.controls li button.delete:hover {
  border-bottom: 2px solid #FA0719;
}
.container-wrapper ul.controls li button.delete:hover * {
  color: #FA0719;
}

.container-wrapper > .container > .editor {
  margin-top: 10px;
}


.markdown-content-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.markdown-content-wrapper .markdown-content{
  width: 80vw;
}

.markdown-content-wrapper .markdown-content > h1:first-of-type {
  display: none;
}
.markdown-content-wrapper .markdown-content > p:first-of-type {
  display: none;
}

@media screen and (max-width: 930px) {
  nav.tipdig-nav > ul > li.tipdig-link-wrapper {
    padding: 0px 10px;
  }
  nav.tipdig-nav > ul > li.tipdig-link-wrapper{
    font-size: 12px;
  }
}


@media screen and (max-width: 800px) {
  nav.tipdig-nav > ul > li.tipdig-link-wrapper {
    padding: 0px 8px;
  }
}